
@{
    ViewBag.Title = "MainPage";
    Layout = "~/Views/Shared/_LayoutSneha.cshtml";
}
<script>
    $("#getEmp").click(
       function () {
           document.location = "http://localhost:49236/Employee/OnPageload";
       })


</script>

<body>
   
    </body>